#box {
    border-radius: 25px;
    background: #a5a6f6;
    padding: 20px;
    width: 380px;
    height: 900px;
    float: left;
    margin-right: 20px;
}

#box2 {
    border-radius: 25px;
    background: black;
    padding: 20px;
    width: 1000px;
    height: 900px;
    float: left;
}

#admin-nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-style: double;
    border-width: 1px;
    border-color: black;
    margin: auto;
    left: 0;
    right: 0;
    width: 80vw;
    min-width: 400px;
    max-width: 900px;
}

#admin-nav input {
    padding: 8px 14px;
    background-color: rgba(120, 176, 241, 1);
    font-weight: bold;
}

.admin-content {
    background-color: rgba(226, 226, 219, 0.911);
    width: 90vw;
    max-width: 2000px;
    min-width: 500px;
    margin: auto;
    left: 0;
    right: 0;
}

#admin-title {
    text-align: center;
}

#logout {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 8px 14px;
    background-color: rgba(120, 176, 241, 1);
    font-weight: bold;
}

#content-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 800px;
    width: 100%;
    max-height: fit-content;
}

#form-section {
    margin: auto;
    left: 0;
    background-color: rgba(120, 176, 241, 1);
    min-width: 40vw;
    padding: 10px;
}

#search-section {
    position: relative;
    margin: auto;
    padding: 20px 5px;
    right: 0;
    background-color: rgb(255, 255, 255);
    min-width: 40vw;
}

#search-output {
    width: 93%;
    min-height: 40vh;
    border-style: double;
    border-width: 1px;
    border-color: black;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-bottom: 25px;
}

#search-list-opt {
    position: absolute;
    right: 10px;
    bottom: 5px;
    max-width: fit-content;
}

#search-list-opt-top {}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#formSection {
    border: 1px dotted black;
    padding: 10px;
}