.hideOverlay {
  display: none;
}

#cal-wrap {
  grid-area: cal;
  width: 98%;
  height: 100%;
  margin-bottom: 20px;
  backdrop-filter: blur(5px);
 
}

#cal-date {
  margin: auto;
  left: 0;
  right: 0;
  width: fit-content;
}

#cal-mth,
#cal-yr {
  box-sizing: border-box;
  padding: 10px 20px;
  border: 0;
  background: none;
  font-size: 1.4em;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(108, 108, 108);
}

#calendar {/*table element*/
  width: 100%;
  height: 60%;
  border-collapse: collapse;
  table-layout: fixed;
  transition-duration: 0.5s;
}
#calendar tr {
  height: 6vh;

}
#calendar tr.head td {
  padding: 0px;
  text-align: center;
  height: 10px;
  font-size: 1.4em;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(108, 108, 108);
}

#calendar tr.day td {
  border: 2px solid rgb(109, 109, 109);
  padding: 5px 5px;
  vertical-align: top;
  text-align: right;
  height: 8em;
  transition-duration: 1s;
}
#calendar td {
  overflow: auto;
  white-space: nowrap;
}
#calendar tr.day td:hover {
  cursor: pointer;
  background:rgba(240, 228, 228, 0.465);
  box-shadow: inset 1px 1px 16px rgb(76, 76, 76);
}

#calendar tr td.blank {
  background: rgba(240, 228, 228, 0.652);
}

#calendar tr td.today {
  box-shadow: inset 1px 1px 16px rgb(76, 76, 76);
  border-width: 4px;
  background:rgba(240, 228, 228, 0.465);
}

#calendar .dd {
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(108, 108, 108);

}

#calendar .evt {
  margin-top: 3px;
  padding: 1%;
  font-size: 0.8em;
  text-align: left;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #333;
  display: block;
  overflow: hidden;

  line-height: 15%;
}

#cal-event {
  color: #333;
  min-width: fit-content;
  max-width: 600px;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 40vh;
  text-align: center;
  padding: 15px 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}

#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}

#evt-date {
  margin-left: 30px;
  font-size: 1.2em;
  color: #555;
  border: none;
  background: none;
}

#cal-event textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  min-height: 100px;
}

#cal-event input[type="button"],
#cal-event input[type="submit"] {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #414141;
  color: rgb(150, 148, 142);
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#request-fileds input {
  margin-bottom: 10px;
}
#demo{
  width: fit-content;
  padding: 2px 20px;
  background-color: rgba(226, 226, 219, 0.911);
  border-radius: 4px;

}
/*---------------Event List---------------*/
#event-list{
  grid-area: event;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  line-height: 5px;
}
#event-list h3{

}
#event-list .evt{
border-bottom: 1px solid black;
}



/*---------------Event List---------------*/
#lecturer-forms{
  grid-area: form;
  margin-top: 20px;
}