#box {
  border-radius: 25px;
  background: #A5A6F6;
  padding: 20px; 
  width: 380px;
  height: 900px; 
  float: left;
  margin-right: 20px;
}

#box2 {
  border-radius: 25px;
  background: black;
  padding: 20px; 
  width: 1000px;
  height: 900px;
  float: left;  
}